<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>DoAnCuoiKy</display-name>
	<filter>
		<filter-name>TS</filter-name>
		<filter-class>Public.filters.LoginTS</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>TS</filter-name>
		<url-pattern>/DanhSachMonHoc</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>TS</filter-name>
		<url-pattern>/DanhSachDeThiThiSinh</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>TS</filter-name>
		<url-pattern>/ChiTietDeThiThiSinh</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>TS</filter-name>
		<url-pattern>/ThongTinThiSinh</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>QLDT</filter-name>
		<filter-class>Public.filters.LoginQLDT</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>QLDT</filter-name>
		<url-pattern>/DanhSachDeThi</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>QLDT</filter-name>
		<url-pattern>/SoanDeThi</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>QLDT</filter-name>
		<url-pattern>/NguoiQuanLiDeThi</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>QLDT</filter-name>
		<url-pattern>/ChinhSuaDeThi</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>QLDT</filter-name>
		<url-pattern>/XoaDeThi</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>QLCH</filter-name>
		<filter-class>Public.filters.LoginQLCH</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>QLCH</filter-name>
		<url-pattern>/ThongTinTaiKhoan</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>QLCH</filter-name>
		<url-pattern>/SuaCauHoi</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>QLCH</filter-name>
		<url-pattern>/ChiTietCauHoi</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>QLCH</filter-name>
		<url-pattern>/DanhSachCauHoi</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>QLCH</filter-name>
		<url-pattern>/ThemCauHoi</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>QLTSL</filter-name>
		<filter-class>Public.filters.LoginQLTSL</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>QLTSL</filter-name>
		<url-pattern>/DanhSachLop</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>QLTSL</filter-name>
		<url-pattern>/DanhSachThanhVien</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>QLTSL</filter-name>
		<url-pattern>/DanhSachThanhVienLop</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>QLTSL</filter-name>
		<url-pattern>/SuaLop</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>QLTSL</filter-name>
		<url-pattern>/SuaThanhVien</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>QLTSL</filter-name>
		<url-pattern>/ThemLop</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>QLTSL</filter-name>
		<url-pattern>/ThemThanhVien</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>QLTSL</filter-name>
		<url-pattern>/ThongTinTaiKhoanTV</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>QLTSL</filter-name>
		<url-pattern>/ThongTinThanhVien</url-pattern>
	</filter-mapping>
</web-app>